-- DropForeignKey
ALTER TABLE "PlacementImportBatch" DROP CONSTRAINT "PlacementImportBatch_uploaderId_fkey";

-- DropForeignKey
ALTER TABLE "PersonalPlacement" DROP CONSTRAINT "PersonalPlacement_employeeId_fkey";

-- DropForeignKey
ALTER TABLE "PersonalPlacement" DROP CONSTRAINT "PersonalPlacement_batchId_fkey";

-- DropForeignKey
ALTER TABLE "TeamPlacement" DROP CONSTRAINT "TeamPlacement_leadId_fkey";

-- DropForeignKey
ALTER TABLE "TeamPlacement" DROP CONSTRAINT "TeamPlacement_batchId_fkey";

-- DropTable
DROP TABLE "PlacementImportBatch";

-- DropTable
DROP TABLE "PersonalPlacement";

-- DropTable
DROP TABLE "TeamPlacement";

-- DropEnum
DROP TYPE "PlacementImportType";

